@model List<ValuesToPrint>
@{
    ViewData["Title"] = "Values";
}

<table class="table" style="align-content:center">
    <thead>
        <tr>
            
            <th align="center">ID</th>
            <th align="center"></th>
           
            <th align="center"></th> 
            <th align="center">Value</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model) {
                <tr>             
                    <td >
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td></td> 
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                
                   
                </tr>
        }
    </tbody>
</table>