@model FizzBuzz.Models.Input
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="index" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br />
                <br />
                <div class="row">
                    <div class="col-4"> </div>
                    <div class="col-1">
                    <label asp-for="Value" class="control-label"></label>
                    </div>
                     <div class="col-5">
                    <input asp-for="Value" class="form-control" />
                    </div>
                    <div class="col-2"> </div>
                </div>
                <div class="row">
                    <div class="col-4"> </div>
                    <div class="col-4">
                    <span asp-validation-for="Value" class="text-danger"></span>
                    </div>
                    <div class="col-4"> </div>
                </div> 
                <br />
                <br />
                 <div class="row">
                    <div class="col-5"> </div>
                    <div class="col-2">
                     <input asp-action="PrintValues" asp-controller="FizzBuzz" type="submit" class="btn btn-primary" />
                    </div>
                    <div class="col-5"> </div>  
                 </div>      
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
